 Volume in drive C is OS
 Volume Serial Number is 48D3-7780

 Directory of C:\Users\Sujata\Desktop\DevOps_Java

05-08-2018  20:29    <DIR>          .
05-08-2018  20:29    <DIR>          ..
05-08-2018  20:29                 0 config.xml
05-08-2018  20:28               433 HelloJenkins.class
05-08-2018  18:08               122 HelloJenkins.java
05-08-2018  20:24               502 index.html
05-08-2018  20:23               454 readme.txt
               5 File(s)          1,511 bytes
               2 Dir(s)  83,095,281,664 bytes free
